<div class="extended home-section bg-silver-light">
  <div class="row columns">
    <h2 id="<%= label_id %>" class="heading2"><%= title %></h2>

    <section class="cards-grid row" aria-labelledby="<%= label_id %>" data-slide>
      <% records.each do |record| %>
        <div class="column small-12 medium-6 large-4">
          <%= card_for record, from: record, context: {
            no_column: true,
            disable_favorite: true,
            utm_params: utm_params_for(record)
          } %>
        </div>
      <% end %>
    </section>

    <%= button %>
  </div>
</div>
