<%
  edit_link(
    decidim_admin.edit_organization_path,
    :update,
    :organization,
    organization: current_organization
  )

  process = Decidim::ParticipatoryProcess.find_by(slug: ENV["PROCESS_SLUG"])
%>

<div class="extended hero" style="background-image:url(<%= image_path "helsinki/osbu-2020/omastadi-header-kukka-1.jpg" %>);">
  <div class="hero__container hero__empty"></div>
  <div class="koro-bottom"></div>
</div>

<% if process %>
  <%= render partial: "layouts/decidim/process_header_steps", locals: { participatory_process: process } %>
<% end %>

<div class="extended home-section">
  <div class="hero__container">
    <div class="row">
      <div class="columns large-8 large-centered">
        <div class="text-center">
          <h1 class="heading1">
            OmaStadi – unelmien Helsinki tehdään yhdessä
          </h1>
          <div class="lead">
            <p>
              OmaStadi on Helsingin tapa toteuttaa osallistuvaa budjetointia.
              Helsinki käyttää 8,8 miljoonaa euroa kaupunkilaisten ideoiden
              toteuttamiseen. Kaikki alkaa ideoista. Ideoista kehitetään yhdessä
              ehdotuksia, joista myöhemmin äänestetään. Kaupunki toteuttaa
              eniten ääniä saaneet ehdotukset.
            </p>
            <p>
              <%= link_to "Lue lisää OmaStadista &raquo;".html_safe, decidim.pages_path %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="extended hero bg-primary">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading2 hero-heading">
          Ideointivaihe on käynnissä
        </h2>
        <p class="lead">Käy katsomassa muiden ideoita ja jätä omasi.</p>
      </div>
    </div>
    <div class="row columns">
      <a class="button large secondary" href="#">Tutustu ideoihin</a>
      <a class="button large secondary hollow" href="#">Jätä oma ideasi</a>
    </div>
  </div>
  <div class="koro-bottom"></div>
</div>

<div class="extended hero">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <div class="hero-section-image">
          <%= image_tag "helsinki/osbu-2020/omastadi-banneri-2.jpg" %>
        </div>
        <h2 class="heading2 hero-heading">
          Nyt on käynnissä ideointivaihe
        </h2>

        <div class="row">
          <div class="columns small-centered large-10">
            <div class="lead">
              <p>
                Millainen idea tekisi kaupungista paremman meille kaikille? Jätä oma
                ideasi 1.10.-XX.10. Ideat voivat olla paikallisia tai laajempia,
                vaikka koko Helsinkiä koskevia. Ideoida voit yksin tai ryhmässä.
              </p>
              <p>
                <%= link_to "Lue lisää ideointivaiheesta &raquo;".html_safe, decidim.pages_path %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%
if process
  components = Decidim::Component.where(participatory_space: process)
  ideas = Decidim::Ideas::Idea.published.where(component: components).order("RANDOM()").limit(6)
end
%>
<% if ideas && ideas.count > 0 %>
  <div class="extended home-section bg-secondary">
    <div class="hero__container">
      <div class="row columns">
        <h2 class="heading2 hero-heading">Poimintoja ideoista</h2>

        <div class="card-slider center">
          <% ideas.each do |idea| %>
            <div class="card-slide-content">
              <%= card_for idea, from: idea, context: { no_column: true } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="extended hero">
  <div class="hero__container">
    <div class="row">
      <div class="columns small-centered large-10">
        <h2 class="heading2 hero-heading">
          Tarvitsetko apua?
        </h2>
        <div class="lead">
          <p>
            tuoda ajatuksesi kuuluviin! Miten Helsingin kaupungin tulisi käyttää osallistuvan
            budjetin rahoja? Ideoida voit yksin tai ryhmässä. Mikä sinun mielestäsi hyödyttäisi
            monia? Mikä tekisi kaupungista toimivamman, viihtyisämmän ja hauskemman? Ideointivaiheessa
            kuka tahansa voi tehdä parantamisehdotuksia Helsingin kaupungille
          </p>
        </div>
      </div>
    </div>
    <div class="row columns">
      <a class="button large primary" href="#">Siirry ohjeisiin</a>
      <a class="button large primary" href="#">Tulosta kirjalliset ohjeet</a>
    </div>
  </div>
</div>

<% if false %>
  <% # The default content blocks %>
  <% Decidim::ContentBlock.published.for_scope(:homepage, organization: current_organization).each do |content_block| %>
    <% next unless content_block.manifest %>
    <%= cell content_block.manifest.cell, content_block %>
  <% end %>
<% end %>
