<% provide(:title, translated_attribute(post.title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(post.title),
  description: translated_attribute(post.body),
  url: main_app.post_url(post.id)
}) %>

<%
  edit_link(
    resource_locator(post).edit,
    :update,
    :blogpost,
    blogpost: post
  )
%>

<div class="wrapper">
  <div class="row column back-link">
    <%= link_to posts_path, class: "action-link" do %>
      <%= icon "arrow-left", role: "img", "aria-hidden": true %>
      <span><%= t(".view_all_articles") %></span>
    <% end %>
  </div>

  <div class="row column resource">
    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main static__content">
          <%= localized_content_tag_for(post, :div, class: "section") do %>
            <h1><%= translated_attribute post.title %></h1>
          <% end %>

          <% if post.main_image && post.main_image.attached? %>
            <%= image_tag post.attached_uploader(:main_image).path, alt: translated_attribute(post.title), class: "resource__image" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="columns small-12 medium-8">
        <div class="resource__main resource__content static__content">
          <%= localized_content_tag_for(post, :div, class: "section") do %>
            <%= decidim_sanitize_editor_admin translated_attribute post.body %>
          <% end %>

          <%= attachments_for post %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= comments_for post %>
