<% if current_user.user_groups.verified.any? %>
  <div class="field">
    <%= user_group_select_field form, :user_group_id %>
  </div>
<% end %>

<div class="field hashtags__container">
  <%= form.text_field :title, class: "js-hashtags", hashtaggable: true, value: present(@proposal).title %>
</div>

<div class="field hashtags__container">
  <%= form.text_area :body, rows: 10, maxlength: component_settings.proposal_length, class: "js-hashtags mb-0", hashtaggable: true, value: present(@proposal).body, data: {
    remaining_characters: '#body_remaining_characters',
    remaining_characters_messages: {
      one: t('decidim.components.add_comment_form.remaining_characters_1', count: '%count%'),
      many: t('decidim.components.add_comment_form.remaining_characters', count: '%count%'),
    },
  } %>
  <div id="body_remaining_characters" data-characters-available="100" class="form-extra"></div>
</div>

<% if @form.categories&.any? %>
  <div class="field">
    <%= form.categories_select :category_id, @form.categories, prompt: t("decidim.proposals.proposals.edit.select_a_category") %>
  </div>
<% end %>

<% if current_participatory_space.has_subscopes? %>
  <div class="field">
    <%= scopes_picker_field form, :scope_id %>
  </div>
<% end %>

<% if component_settings.geocoding_enabled? %>
  <div class="field-toggle">
    <p>
      <button type="button" class="h5 text-left"
        data-toggle="address_closed address_open"
        data-toggle-checkbox="<%= "#{form.object_name}_has_address" %>"
        id="address_toggle"
      >
        <%= t(".add_address") %>
        <span id="address_closed" data-toggler=".is-hidden" aria-expanded="true">
          <%= icon "chevron-bottom" %>
        </span>
        <span id="address_open" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false">
          <%= icon "chevron-top" %>
        </span>
      </button>
    </p>
    <span class="is-hidden">
      <%= form.check_box :has_address, checked: false, class: 'has_address' %>
    </span>
    <div class="field" id="address_input">
      <%= form.text_field :address %>
    </div>
  </div>
<% end %>

<% if component_settings.attachments_allowed? && @proposal %>
  <p>
    <button type="button" class="h5 text-left"
      data-toggle="attachment_section attachment_closed attachment_open"
      id="attachment_toggle"
    >
      <%= t("attachment_legend", scope: "decidim.proposals.proposals.edit") %>
      <span id="attachment_closed" data-toggler=".is-hidden" aria-expanded="true">
        <%= icon "chevron-bottom" %>
      </span>
      <span id="attachment_open" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false">
        <%= icon "chevron-top" %>
      </span>
    </button>
  </p>
  <fieldset id="attachment_section" class="is-hidden" data-toggler=".is-hidden">
    <%= form.fields_for :attachment, @form.attachment do |nested_form| %>
      <div class="field">
        <%= nested_form.text_field :title %>
      </div>

      <div class="field">
        <%= nested_form.upload :file, optional: false %>
        <% if @form.errors[:attachment].present? %>
          <% @form.errors[:attachment].each do |message| %>
            <small class="form-error is-visible">
              <%= message %>
            </small>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </fieldset>
<% end %>

<% if form_has_address? %>
<script type="text/javascript">
  $(document).on('app-ready', function() {
    setTimeout(function() {
      $('#address_toggle').trigger('click');
    }, 500);
  });
</script>
<% end %>

<% if @form.errors[:attachment].any? || (
  (
    @form.attachment && (@form.attachment.file || @form.attachment.errors.any?)
  )
) %>
<script type="text/javascript">
  $(document).on('app-ready', function() {
    setTimeout(function() {
      $('#attachment_toggle').trigger('click');
    }, 500);
  });
</script>
<% end %>
