<% filters_prefix = "filters_#{SecureRandom.hex(3)}" %>

<%= filter_form_for filter, url_for do |form| %>
  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>

  <div class="row medium-unstack">
    <% if current_component.categories.any? %>
      <div class="columns">
        <div class="filters__control category_id_filter">
          <%= form.select(:with_any_category, current_component.categories, { label: t(".category"), include_blank: t("decidim.filters.linked_classes.all") }, id: "category", data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>

    <% if component_settings.proposal_answering_enabled && current_settings.proposal_answering_enabled %>
      <div class="columns">
        <div class="filters__control state_filter">
          <%
          filter_states_values = [
            [t("decidim.proposals.application_helper.filter_state_values.accepted"), "accepted"],
            [t("decidim.proposals.application_helper.filter_state_values.evaluating"), "evaluating"],
            [t("decidim.proposals.application_helper.filter_state_values.not_answered"), "state_not_published"],
            [t("decidim.proposals.application_helper.filter_state_values.rejected"), "rejected"]
          ]
          %>
          <%= form.select(:with_any_state, filter_states_values, { label: t(".state"), include_blank: t("decidim.filters.linked_classes.all") }, data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>

    <div class="columns">
      <div class="filters__control text_filter">
        <%= form.search_field :search_text_cont, label: t(".keyword"), placeholder: t(".keyword"), data: { disable_dynamic_change: true } %>
      </div>
    </div>
  </div>

  <div class="row columns">
    <div class="filters__actions">
      <button type="submit" class="button button--icon" aria-label="<%= t(".search") %>" aria-controls="proposals" data-close>
        <%= t(".search") %>
        <%= icon("magnifying-glass", role: "img", "aria-hidden": true) %>
      </button>
      <button type="reset" class="button clear text-lg"><%= t ".reset" %></button>
    </div>
  </div>
<% end %>
