<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= translated_attribute(current_component.name) %></h1>
  </div>
</div>

<div class="row medium-unstack content-intro">
  <div class="columns medium-6 mediumlarge-8">
    <div class="text-large">
      <% # Placeholder for description %>
      <%= render partial: "voting_rules" %>
    </div>
  </div>
  <% if current_settings.creation_enabled && current_component.participatory_space.can_participate?(current_user) %>
    <div class="columns medium-6 mediumlarge-4">
      <div class="actions-panel bg-secondary">
        <%= action_authorized_link_to :create, new_proposal_path, class: "action-link", data: { "redirect_url" => new_proposal_path } do %>
          <span><%= t(".new_proposal") %></span>
          <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container bg-secondary filters-section">
  <div class="row columns">
    <div class="proposal-filters record-filters">
      <%= render partial: "filters" %>
    </div>
  </div>
</div>

<div class="container listing-section">
  <div class="row columns">
    <% if component_settings.geocoding_enabled? %>
      <ul class="tabs" data-tabs id="listing-tabs">
        <li class="tabs-title is-active"><a data-tabs-target="proposals-listing" href="#proposals-listing" aria-selected="true"><%= t(".show_list") %></a></li>
        <li class="tabs-title"><a data-tabs-target="proposals-map" href="#proposals-map"><%= t(".show_map") %></a></li>
      </ul>
    <% end %>

    <div class="tabs-content" data-tabs-content="listing-tabs">
      <div class="tabs-panel is-active" id="proposals-listing">
        <div class="collection-info row smallmedium-unstack">
          <div class="column">
            <div id="proposals-count" aria-live="polite">
              <%= render partial: "count" %>
            </div>
          </div>
          <div class="column">
            <div class="collection-controls">
              <div class="control">
                <%= order_selector available_orders, i18n_scope: "decidim.proposals.proposals.orders" %>
              </div>
              <% if false %>
                <div class="control">
                  <%= render partial: "decidim/shared/results_per_page" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div id="proposals">
          <div class="cards-list">
            <%= render partial: "proposals" %>
          </div>

          <div class="text-right">
            <% if params.dig("filter", "with_availability").present? && params["filter"]["with_availability"] == "withdrawn" %>
              <%= link_to t("decidim.proposals.proposals.index.see_all"), proposals_path("filter[with_availability]" => nil) %>
            <% else %>
              <%= link_to t("decidim.proposals.proposals.index.see_all_withdrawn"), proposals_path(filter: { with_availability: "withdrawn", with_any_state: [] }) %>
            <% end %>
          </div>
        </div>
      </div>

      <% if component_settings.geocoding_enabled? %>
        <div class="tabs-panel" id="proposals-map">
          <%= dynamic_map_for proposals_data_for_map(@all_geocoded_proposals) do %>
            <%= render partial: "map_template" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
