<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header" %>

    <div class="card">
      <div class="card__content">
        <%= decidim_form_for(@form) do |form| %>
          <%= render partial: "edit_form_fields", locals: { form: form } %>

          <div class="row column flex-center">
            <%= form.submit t(".send"), class: "button large hollow mt-s mb-none", data: { disable: true } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>

<%= javascript_pack_tag "decidim_proposals" %>
