<% add_decidim_meta_tags({
  description: present(@proposal).body,
  title: present(@proposal).title,
  url: proposal_url(@proposal.id)
}) %>

<div class="row column back-link">
  <%= link_to proposals_path, class: "action-link" do %>
    <%= icon "arrow-left", role: "img", "aria-hidden": true %>
    <span><%= t(".back_to_proposals") %></span>
  <% end %>
</div>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= present(@proposal).title(links: true, html_escape: true) %></h1>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render partial: "proposal_actions", locals: { proposal: @proposal } %>
        </div>

        <% if current_user && @proposal.authored_by?(current_user) %>
          <div class="margin-bottom-3">
            <%= render partial: "proposal_controls", locals: { proposal: @proposal } %>
          </div>
        <% end %>

        <%= render partial: "proposal_attributes", locals: { proposal: @proposal } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content resource__content--standalone static__content">
        <h2><%= t(".subtitle") %></h2>
        <%= simple_format present(@proposal).body(links: true, strip_tags: true) %>

        <% if @proposal.answered? && translated_attribute(@proposal.answer).present? %>
          <div class="row columns">
            <div class="banner bg-secondary">
              <div class="banner__content">
                <% if @proposal.accepted? %>
                  <p class="h2"><%= t(".proposal_accepted_reason") %></p>
                <% elsif @proposal.rejected? %>
                  <p class="h2"><%= t(".proposal_rejected_reason") %></p>
                <% else %>
                  <p class="h2"><%= t(".proposal_in_evaluation_reason") %></p>
                <% end %>

                <p><%= decidim_sanitize translated_attribute @proposal.answer %></p>
              </div>
            </div>
          </div>
        <% end %>

        <div class="resource__details margin-top-3">
          <%= linked_resources_for @proposal, :results, "included_proposals" %>
          <%= linked_resources_for @proposal, :projects, "included_proposals" %>
          <%= linked_resources_for @proposal, :plans, "included_proposals" %>
          <%= linked_resources_for @proposal, :meetings, "proposals_from_meeting" %>
          <%= linked_resources_for @proposal, :proposals, "copied_from_component" %>

          <%= attachments_for @proposal %>
        </div>

        <%= render partial: "proposal_map", locals: { proposal: @proposal } %>
      </div>
    </div>
  </div>
</div>

<%= comments_for @proposal %>
