<%
summary = translated_attribute(result.summary)
news_title = translated_attribute(result.news_title)
news = translated_attribute(result.news_description)

first_status = Decidim::Accountability::Status.where(component: current_component).order(:progress).first
cocreation_phase_active = !result.status.present? || result.status == first_status
%>

<% unless cocreation_phase_active %>
  <%= render partial: "result_body_section", locals: {
    title: t(".section.implementation_description.name"),
    body: translated_attribute(result.implementation_description)
  } %>

  <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
<% end %>

<h2><%= t(".subtitle") %></h2>

<% if summary.present? %>
  <p><%== summary %></p>
<% end %>

<%== decidim_sanitize_admin(translated_attribute(result.description)) %>

<%= render partial: "result_body_section", locals: {
  title: t(".section.cocreation_description.name"),
  body: translated_attribute(result.cocreation_description)
} %>

<% if strip_tags(news).strip.present? %>
<div class="banner bg-silver-medium-light margin-top-2 margin-bottom-2">
  <div class="banner__content">
    <h2><%= news_title.presence || t(".news") %></h2>
    <%== decidim_sanitize_admin(news) %>
  </div>
</div>
<% end %>


<%
asset_keys = [:implementation, :cocreation, :plans, :interaction]

at_collections = result.attachment_collections.where(key: asset_keys)
ln_collections = result.result_link_collections.where(key: asset_keys)
has_assets = at_collections.any? { |c| c.attachments.any? } || ln_collections.any? { |c| c.links.any? }
%>

<% if has_assets %>
  <h2><%= t(".assets") %></h2>

  <% asset_keys.each do |key| %>
    <%= render partial: "result_collection_assets", locals: { collection_key: key } %>
  <% end %>
<% end %>

<% [:plans_description, :interaction_description].each do |section_key| %>
  <%= render partial: "result_body_section", locals: {
    title: t(".section.#{section_key}.name"),
    body: translated_attribute(result.public_send(section_key))
  } %>
<% end %>
