<%
summary = translated_attribute(result.summary)
news = translated_attribute(result.news_description)
%>

<h1 class="heading2"><%= translated_attribute result.title %></h1>

<div class="record-details">
  <%= cell "decidim/tags", result, context: { extra_classes: ["tags--result"] } %>
  <%== cell("decidim/tags/tags", result) %>

  <%= link_to "#comments" do %>
    <%= icon "comment-square", class: "icon--small", aria_hidden: true, role: "img" %>
    <%= t(".comments_amount", count: result.comments_count) %>
  <% end %>
</div>

<% if summary.present? %>
  <div class="mb-3">
    <p><%== summary %></p>
  </div>
<% end %>

<% if news.present? %>
  <div class="callout secondary">
    <h2><%= t(".news") %></h2>
    <%== news %>
  </div>
<% end %>

<div class="description mb-5">
  <div class="accordion" data-accordion>
    <div class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title"><%= t(".section.description.name") %></a>

      <div class="accordion-content" data-tab-content>
        <%== translated_attribute result.description %>
      </div>
    </div>

    <% [:plans_description, :budget_breakdown, :interaction_description].each do |section_key| %>
      <% text = translated_attribute(result.public_send(section_key)) %>
      <% next if text.blank? %>

      <div class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= t(".section.#{section_key}.name") %></a>

        <div class="accordion-content" data-tab-content>
          <%== translated_attribute text %>
        </div>
      </div>
    <% end %>
  </div>
</div>
