<%
summary = translated_attribute(result.summary)
news = translated_attribute(result.news_description)
%>

<div class="record-details">
  <%= cell "decidim/tags", result, context: { extra_classes: ["tags--result"] } %>
  <%== cell("decidim/tags/tags", result) %>
</div>

<% if summary.present? %>
  <p><%== summary %></p>
<% end %>

<% if news.present? %>
<div class="banner bg-secondary">
  <div class="banner__content">
    <h2><%= t(".news") %></h2>
    <%== news %>
  </div>
</div>
<% end %>

<div class="description">
  <%== translated_attribute result.description %>
</div>

<div class="row">
  <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
</div>

<div class="description mb-5">
  <h2><%= t(".details") %></h2>

  <h3><%= t(".section.description.name") %></h3>
  <%== translated_attribute result.description %>

  <% [:plans_description, :budget_breakdown, :interaction_description].each do |section_key| %>
    <% text = translated_attribute(result.public_send(section_key)) %>
    <% next if text.blank? %>

    <h3><%= t(".section.#{section_key}.name") %></h3>

    <div class="accordion-content" data-tab-content>
      <%== translated_attribute text %>
    </div>
  <% end %>
</div>
