<%
summary = translated_attribute(result.summary)
news = translated_attribute(result.news_description)
%>

<div class="record-details">
  <%== cell("decidim/tags/tags", result) %>
</div>

<% if summary.present? %>
  <p><%== summary %></p>
<% end %>

<% if news.present? %>
<div class="banner bg-secondary margin-top-1 margin-bottom-1">
  <div class="banner__content">
    <h2><%= t(".news") %></h2>
    <%== news %>
  </div>
</div>
<% end %>

<div class="description">
  <%== translated_attribute result.description %>
</div>

<div class="row">
  <%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
</div>

<%
details_sections = [:plans_description, :budget_breakdown, :interaction_description].map do |section_key|
  {
    title: t(".section.#{section_key}.name"),
    body: translated_attribute(result.public_send(section_key))
  }
end.delete_if { |section| section[:body].blank? }
%>

<% if details_sections.count > 0 %>
  <div class="description mb-5">
    <h2><%= t(".details") %></h2>

    <% details_sections.each do |section| %>
      <h3><%= section[:title] %></h3>

      <%== section[:body] %>
    <% end %>
  </div>
<% end %>
