<div class="small-12 columns">
  <h2 class="section-heading"><%= t(".title") %></h2>
  <ol class="timeline">
    <% result.timeline_entries.each_with_index do |timeline_entry, i| %>
      <li class="timeline__item<%= " timeline__item--active" if timeline_entry.active? %>">
        <div class="timeline__phase">
          <span class="timeline__phase__number"><%= i + 1 %></span>
        </div>
        <div class="timeline__info">
          <div class="timeline__description">
            <span class="timeline__date text-small">
              <% if translated_attribute(timeline_entry.title).empty? %>
                <%= human_range_time(timeline_entry.entry_date, timeline_entry.end_date) %>
              <% else %>
                <%= translated_attribute(timeline_entry.title) %>
              <% end %>
            </span>
            <h3 class="timeline__title h6">
              <%= translated_attribute timeline_entry.description %>
            </h3>
          </div>
        </div>
      </li>
    <% end %>
  </ol>
</div>
