<%
if respond_to?(:current_component) && current_component
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space: current_participatory_space
  )
end

wrapper_class = Rails.application.config.wrapper_class
%>

<div class="off-canvas-wrapper <%= wrapper_class %>">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvas" data-off-canvas>

      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvasLanguage" data-off-canvas
         aria-hidden="true">

         <!-- Close button -->
         <button class="close-button"
                 aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
                 data-close>
           <span aria-hidden="true">&times;</span>
         </button>

         <div class="topbar__language-menu hide-for-large">
           <%= render partial: "layouts/decidim/language_chooser_languages" %>
         </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <!--separates the footer from the rest of the page, creates a sticky footer-->
      <div class="footer-separator">
        <%= render partial: "layouts/helsinki/header" %>

        <main>
          <%= display_flash_messages %>
          <%= yield :notification if content_for? :notification %>

          <%= render_breadcrumbs %>

          <div id="content">
            <%= yield %>
          </div>
        </main>

      </div><!-- /.footer-separator -->

      <%= render partial: "layouts/helsinki/footer" %>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->
