<%
if respond_to?(:current_component) && current_component
  edit_link(
    manage_component_path(current_component),
    :read,
    :component,
    component: current_component,
    current_participatory_space: current_participatory_space
  )
end

wrapper_class = Rails.application.config.wrapper_class
%>

<div class="off-canvas-wrapper <%= wrapper_class %>">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvas" data-off-canvas>

      <!-- Close button -->
      <button class="close-button"
              aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
              data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Menu -->
      <div class="hide-for-large" data-set="nav-holder">

      </div>
      <div class="hide-for-large usermenu-off-canvas-holder"
           data-set="nav-login-holder"></div>

      <div class="hide-for-large"
           data-set="nav-user-holder"></div>

      <div class="main-nav__link hide-for-large"
           data-set="nav-extra-holder">
      </div>
    </div>
    <div class="off-canvas position-right hide-for-large" data-position="right"
         data-transition="overlap"
         id="offCanvasLanguage" data-off-canvas
         aria-hidden="true">

         <!-- Close button -->
         <button class="close-button"
                 aria-label="<%= t("layouts.decidim.header.close_menu") %>" type="button"
                 data-close>
           <span aria-hidden="true">&times;</span>
         </button>

         <div class="topbar__language-menu hide-for-large">
           <%= render partial: "layouts/decidim/language_chooser_languages" %>
         </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="footer-separator">
        <!--separates the footer from the rest of the page,
             creates a sticky footer-->
        <!-- Topbar -->
        <div class="header">
          <div class="top-bar">
            <%= link_to t("skip_button", scope: "decidim.accessibility"), url_for(anchor: "content"), class: "skip" %>
            <div class="row column">
              <div class="top-bar-left">
                <div class="site-bar">
                  <div class="logo-wrapper">
                    <%= link_to decidim.root_path do %>
                      <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
                    <% end %>
                  </div>
                  <div class="site-title">
                    <%= link_to decidim.root_path do %>
                      <div class="site-title-main"><%= current_organization.name %></div>
                      <div class="site-title-sub"><%= t("layouts.decidim.header.subtitle") %></div>
                    <% end %>
                  </div>
                  <div class="topbar__language-menu show-for-large">
                    <%= render partial: "layouts/decidim/language_chooser" %>
                  </div>
                </div>
              </div>
              <div class="top-bar-right">
                <div class="hide-for-large topbar__menu">
                  <ul class="menu">
                    <li>
                      <button type="button" class="button-language" data-toggle="offCanvasLanguage">
                        <span class="text-small">
                          <%= I18n.locale %>
                        </span>
                        <%= icon "globe", aria_label: t("layouts.decidim.header.navigation"), role: "img" %>
                      </button>
                    </li>
                    <% if display_common_elements? %>
                      <li>
                        <button type="button" class="button-menu" data-toggle="offCanvas">
                          <span class="button-text"><%= t("layouts.decidim.header.navigation") %></span>
                          <%= icon "menu", aria_hidden: true %>
                        </button>
                      </li>
                    <% end %>
                  </ul>
                </div>
                <div class="show-for-large" data-set="nav-holder">
                  <div class="top-bar-links js-append">
                    <% if display_common_elements? %>
                      <div class="top-bar-links__item">
                        <%= link_to t("layouts.decidim.header.help"), decidim.pages_path %>
                      </div>
                    <% end %>
                    <% if current_user %>
                      <div class="top-bar-links__item top-bar-links__user">
                        <ul class="dropdown menu show-for-large" data-dropdown-menu
                          data-autoclose="false"
                          data-disable-hover="true"
                          data-click-open="true"
                          data-close-on-click="true">
                          <li class="is-dropdown-submenu-parent show-for-medium" tabindex="-1">
                            <button id="user-menu-control" class="link user-menu-control" aria-controls="user-menu" aria-haspopup="true" aria-label="<%= t("layouts.decidim.user_menu.account", name: current_user.name) %>">
                              <%= icon "person", aria_hidden: true %>
                              <%= t("layouts.decidim.user_menu.profile_nav") %>
                              <span class="top-bar-links__item__description">
                                <%= current_user.name %>
                              </span>
                              <% if current_user.unread_messages_count > 0 || current_user.notifications.any? %>
                                <span class="menu-notification" aria-hidden="true">
                                  <% num = current_user.unread_messages_count + current_user.notifications.count %>
                                  <% if num < 100 %>
                                    <%= num %>
                                  <% else %>
                                    <%= icon "bell" %>
                                  <% end %>
                                </span>
                              <% end %>
                            </button>
                            <ul class="menu is-dropdown-submenu" id="user-menu" role="menu" aria-labelledby="user-menu-control" tabindex="-1">
                              <%= render partial: "layouts/decidim/user_menu" %>
                            </ul>
                          </li>
                        </ul>

                        <div data-set="nav-login-holder" class="hide-for-large">
                          <div class="profile-name">
                            <%= icon "person", aria_hidden: true %>
                            <%= current_user.name %>
                          </div>

                          <!-- Repeated due to different display on mobile -->
                          <ul class="menu js-append usermenu-off-canvas">
                            <%= render partial: "layouts/decidim/user_menu" %>
                          </ul>
                        </div>
                      </div>
                    <% else %>
                      <div class="top-bar-links__item">
                        <%= link_to t("layouts.decidim.header.sign_in"), decidim.new_user_session_path, class: "sign-in-link" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if display_common_elements? && false %>
            <div class="title-bar">
              <nav class="navbar row column">
                <div class="menu menu-main show-for-large" data-set="nav-holder">
                  <div class="js-append">
                    <%= main_menu.render %>
                  </div>
                </div>
              </nav>
            </div>
          <% end %>

          <%= display_flash_messages %>

          <%= koro("pulse", flip: true, position: "bottom") if display_header_koro? %>
        </div>

        <main id="content">
          <%= yield %>
        </main>

      </div><!-- /.footer-separator -->

      <%= render partial: 'layouts/helsinki/footer' %>
    </div><!--/.off-canvas-content-->
  </div><!--/.off-canvas-wrapper-inner-->
</div><!--/.off-canvas-wrapper-->
