<% subtitle = content_for(:subtitle) %>

<%= render "layouts/decidim/application" do %>
  <div class="container content-section">
    <div class="row column">
      <div class="main-container tabbed-container">
        <div class="page-title">
          <h1>
            <%= t("title", scope: "layouts.decidim.user_profile") %>
            <%= " - #{subtitle}" unless subtitle.blank? %>
          </h1>
        </div>

        <div class="row medium-unstack">
          <div class="columns medium-4 large-3">
            <div class="sub-navigation">
              <div class="skip-wrapper">
                <%= link_to t("decidim.shared.skip_subnavigation"), "#inner_content", class: "skip" %>
              </div>
              <nav role="navigation" aria-label="<%= t(".subnav.label") %>">
                <ul class="vertical striped large menu" role="menubar">
                  <%= user_menu.render %>
                </ul>
              </nav>
            </div>
          </div>

          <div id="inner_content" class="columns medium-8 large-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
