<div class="column" id="<%= dom_id(model) %>">
  <div class="card <%= card_classes %>" role="region" aria-label="<%= t(".card_label", title: title) %>">
    <%= render :image %>
    <div class="card__content">
      <%= render :header %>

      <div class="card__text">
        <div class="card__text--paragraph">
          <%= description %>
        </div>
      </div>
    </div>

    <%= render :data %>
    <%= render :status %>
    <%= render :footer %>
  </div>
</div>
