<div class="extended home-section listing-section">
  <div class="row columns">
    <h2 id="<%= label_id %>" class="heading2"><%= title %></h2>

    <% if description.present? %>
      <div class="lead">
        <%= description %>
      </div>
    <% end %>

    <%= content_tag :section, class: "cards-grid row", aria: { labelledby: label_id }, data: { slide: "", options: { large: { perPage: 4 } } } do %>
      <% posts.each do |post| %>
        <div class="column small-12 medium-6 large-3">
          <%= link_to post_path(post), class: "card", lang: post_lang(post), aria: { label: t(".article", title: translated_attribute(post.title)) } do %>
            <%= image_tag resource_image_path_for(post), class: "card__image", alt: translated_attribute(post.title), aria: { hidden: true } %>

            <div class="card__content">
              <h3 class="h4"><%= translated_attribute post.title %></h3>

              <div class="card__text">
                <div class="card__text--paragraph">
                  <%== strip_tags summary_for(post) %>
                </div>
              </div>
            </div>

            <div class="card__indicator" aria-hidden="true">
              <%= icon "arrow-thin-right", role: "img" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <div class="text-center more-link">
      <p>
        <%= link_to button_url, class: "action-link" do %>
          <span><%= t(".show_more") %></span>
          <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
        <% end %>
      </p>
    </div>
  </div>
</div>
