<%= render partial: "decidim/shared/component_announcement" %>

<% if current_user.present? && current_settings.votes_enabled? && current_participatory_space.can_participate?(current_user) %>
  <div class="row column">
    <%= render partial: "budget_summary", locals: { include_heading: true } %>
  </div>
<% else %>
  <div class="row column">
    <div class="card budget-summary" data-progress-reference>
      <div class="card__content">
        <h2 class="heading3"><%= translated_attribute(current_component.name) %></h2>

        <div class="budget-summary__total" data-total-budget="<%= component_settings.total_budget %>">
          <span class="mini-title"><%= t("total_budget") %>
            <strong class="mini-title__strong mini-title__strong--highlight">
              <%= budget_to_currency(component_settings.total_budget) %>
            </strong>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row columns">
  <h3 class="section-heading">
    <%= render partial: "count" %>
  </h3>
</div>
<div class="row">
  <div class="columns mediumlarge-4 large-3">
    <%= render partial: "filters_small_view" %>
    <div class="card card--secondary show-for-mediumlarge">
      <%= render partial: "filters" %>
    </div>
  </div>
  <div id="projects" class="columns mediumlarge-8 large-9">
    <%= render partial: "projects" %>
  </div>
</div>

<%= javascript_include_tag("decidim/filters") %>
<%= javascript_include_tag("decidim/budgets/projects") %>
