<div class="row">
  <div class="columns medium-8 medium-centered">
    <div class="text-center">
      <p>
        <%= t("decidim.devise.sessions.new.sign_in_service_account_description") %>
      </p>
      <% if local_assigns[:hide_form] %>
        <p>
          <button class="h5" data-toggle="session_modal session_modal_closed session_modal_open" id="session_modal_toggle">
            <%= t("decidim.devise.sessions.new.sign_in_service_account") %>
            <span id="session_modal_closed" data-toggler=".is-hidden" aria-expanded="true">
              <%= icon "chevron-bottom" %>
            </span>
            <span id="session_modal_open" class="is-hidden" data-toggler=".is-hidden" aria-expanded="false">
              <%= icon "chevron-top" %>
            </span>
          </button>
        </p>
      <% end %>
    </div>

    <div class="register-form-wrapper<%= local_assigns[:hide_form] ? " is-hidden" : "" %>" id="session_modal" data-toggler=".is-hidden">
      <%= decidim_form_for(Decidim::User.new, as: :user, url: session_path(:user), html: { class: "register-form new_user" }) do |f| %>
        <div>
          <div class="field">
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit t("devise.sessions.new.sign_in"), class: "button expanded" %>
        </div>
      <% end %>
      <% if Devise.mappings[:user].registerable? %>
        <p class="text-center">
          <%= link_to t("devise.shared.links.sign_up"), decidim.new_user_registration_path, class: "sign-up-link" %>
        </p>
      <% end %>
      <p class="text-center">
        <%= link_to t("devise.shared.links.forgot_your_password"), new_password_path(:user) %>
      </p>
    </div>
  </div>
</div>
