<% if strong_providers_enabled? || weak_providers_enabled? %>
  <div class="row">
    <div class="columns">
      <% if Rails.application.config.wrapper_class == "wrapper-ruuti" %>
        <%= render "decidim/devise/shared/omniauth_buttons_mini_strong" %>
        <% if strong_providers_enabled? %>
          <span class="register__separator">
            <span class="register__separator__text"><%= t('or', scope: "decidim.devise.shared.omniauth_buttons") %></span>
          </span>
        <% end %>
        <%= render "decidim/devise/shared/omniauth_buttons_mini_weak" %>
      <% else %>
        <%= render "decidim/devise/shared/omniauth_buttons_mini_strong" %>
        <% if weak_providers_enabled? %>
          <span class="register__separator">
            <span class="register__separator__text"><%= t('or', scope: "decidim.devise.shared.omniauth_buttons") %></span>
          </span>
        <% end %>
        <%= render "decidim/devise/shared/omniauth_buttons_mini_weak" %>
      <% end %>
    </div>
  </div>
<% end %>
