<% if Devise.mappings[:user].omniauthable? && any_social_provider_enabled? %>
  <div class="row">
    <div class="columns">
      <div class="text-center">
        <%- Decidim::User.omniauth_providers.each do |provider| %>
          <% if social_provider_enabled? provider %>
            <div class="social-register text-center">
              <h3 class="h5 margin-bottom-1">
                <%= t("devise.shared.omniauth.#{provider}.sign_in_with") %>
              </h3>
              <p>
                <%= t("devise.shared.omniauth.#{provider}.description") %>
              </p>
              <% if provider == :tunnistamo %>
                <p>
                  <div class="social-share-button social-login-button">
                    <span class="ssb-icon ssb-facebook"></span>
                    <span class="ssb-icon ssb-google_plus"></span>
                    <span class="ssb-icon ssb-yle"></span>
                    <span class="ssb-icon ssb-hel"></span>
                  </div>
                </p>
              <% end %>
              <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button hollow large primary button--#{normalize_provider_name(provider)}", method: :post do %>
                <%= t("devise.sessions.new.sign_in") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <span class="register__separator">
        <span class="register__separator__text"><%= t('or', scope: "decidim.devise.shared.omniauth_buttons") %></span>
      </span>
      </div>
  </div>
<% end %>
