<%
text_section = Decidim::ContextualHelpSection.find_content(current_organization, "results_directory_index")
section_text = translated_attribute(text_section)
%>

<div class="wrapper">
  <div class="container">
    <div class="row columns">
      <div class="page-title">
        <h1 class="heading1"><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row medium-unstack content-intro">
      <div class="columns medium-6 mediumlarge-8">
        <div class="text-large">
          <%= decidim_sanitize_admin(section_text) if section_text.present? %>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg-secondary filters-section">
    <div class="row columns">
      <div class="idea-filters record-filters">
        <%= render partial: "filters" %>
      </div>
    </div>
  </div>

  <div class="container listing-section">
    <div class="row columns">
      <div class="collection-info row smallmedium-unstack">
        <div id="results-count" class="column results-description" aria-live="polite" aria-atomic="true">
          <%= render partial: "decidim/accountability/directory/results/count", locals: { results: results } %>
        </div>

        <div class="column">
          <div class="collection-controls">
            <div class="control">
              <%= order_selector available_orders, i18n_scope: "decidim.accountability.directory.results.orders" %>
            </div>
          </div>
        </div>
      </div>

      <div id="results" aria-live="polite">
        <% @prev_scope = nil %>
        <%= render partial: "decidim/accountability/directory/results/results", locals: { results: results } %>
      </div>
    </div>
  </div>
</div>
