<p><%= t(".required_fields_text") %></p>

<% if false && (current_user.nil? || allowed_to?(:request_access, :plan, plan: plan)) %>
  <div class="row">
    <div class="columns">
      <div class="callout secondary"><%= t(".info_message").html_safe %></div>
    </div>
  </div>
<% end %>

<%= user_group_field %>

<%= contents_edit %>

<%= render :buttons %>

<%
js_options = {
  messages: {
    charactersMin: t(".characters_min"),
    charactersUsed: t(".characters_used")
  }
}
%>

<script>
document.addEventListener("DOMContentLoaded", () => {
  DecidimPlansCharacters.configure(<%== js_options.to_json %>);
});
</script>
