<div class="banner bg-secondary">
  <div class="banner__icon">
    <%= icon("account-login", role: "img", "aria-hidden": true) %>
  </div>
  <div class="banner__content">
    <h2 class="h3"><%= t("decidim.plans.plans.edit.sign_in") %></h2>
    <p><%= t("decidim.plans.plans.edit.sign_in_before_submitting") %></p>

    <%= link_to decidim.new_user_session_path, class: "button button--icon" do %>
      <%= t("decidim.plans.plans.edit.sign_in") %>
      <%= icon("arrow-right", role: "img", "aria-hidden": true) %>
    <% end %>
  </div>
</div>
