<%
mobile_back_button = %(<li class="js-drilldown-back" role="presentation"><a tabindex="0" href="#" role="menuitem">Back</a></li>)
%>

<div class="side-panel">
  <div class="sub-navigation">
    <nav class="sub-navigation-nav show-for-mediumlarge" role="navigation" aria-label="<%= t(".label") %>">
      <ul class="sub-navigation-content vertical menu" role="menubar">
        <%= render partial: "subnav", locals: { current: current } %>
      </ul>
    </nav>

    <nav class="sub-navigation-nav hide-for-mediumlarge" role="navigation">
      <label for="subnav-select"><%= t(".choose") %></label>
      <ul id="subnav-select" class="vertical menu accordion-menu select" role="menubar" data-accordion-menu>
        <li role="presentation" class="is-accordion-submenu-parent">
          <a href="#" id="subnav-control" role="menuitem" aria-controls="subnav"><%= t(".show_navigation") %></a>
          <ul id="subnav" class="menu vertical nested" role="menu" aria-labelledby="subnav-control">
            <%= render partial: "subnav", locals: { current: current } %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
