<% Decidim::StaticPageTopic.where(organization: current_organization).each do |topic| %>
  <% next unless topic.pages.any? %>

  <li role="presentation">
    <%= link_to translated_attribute(topic.title), page_path(topic.pages.first), role: "menuitem" %>

    <ul class="nested vertical menu" role="menu">
      <% topic.pages.each do |page| %>
        <li class="page-item <%= page == current ? "is-active" : nil %>" role="presentation">
          <%= link_to translated_attribute(page.title), page_path(page.slug), role: "menuitem" %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
<% Decidim::StaticPage.where(topic: nil, organization: current_organization).each do |page| %>
  <li class="page-item <%= page == current ? "is-active" : nil %>" role="presentation">
    <%= link_to translated_attribute(page.title), page_path(page.slug), role: "menuitem" %>
  </li>
<% end %>
