<div class="container content-section">
  <div class="row column">
    <div class="main-container tabbed-container">
      <%= cell "decidim/tos_page", :announcement %>

      <div class="page-title">
        <h1><%= translated_attribute page.title %></h1>
      </div>

      <div class="row align-justify">
        <div class="columns sidebar">
          <%= render "side_panel", current: page %>
        </div>

        <div class="columns mainbar">
          <div class="static__content">
            <%= decidim_sanitize_editor_admin translated_attribute page.content %>
          </div>
        </div>
      </div>

      <%= cell "decidim/tos_page", :form %>
    </div>
  </div>
</div>
