<% add_decidim_page_title(t("decidim.pages.index.title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<div class="container content-section">
  <div class="row column">
    <div class="main-container tabbed-container">
      <%= cell "decidim/tos_page", :announcement %>

      <div class="page-title">
        <h1 class="heading1 page-title"><%= t "decidim.pages.index.title" %></h1>
      </div>

      <div class="row align-justify">
        <div class="columns sidebar">
          <%= link_to(t("decidim.shared.skip_subnavigation"), "#main_content", class: "skip") %>
          <%= render "side_panel", current: nil %>
        </div>

        <div class="columns mainbar" id="main_content">
          <div class="static__content">
            <%
            section = Decidim::ContextualHelpSection.find_content(
              current_organization,
              "help_index"
            )
            content = translated_attribute(section)
            %>
            <% if content.blank? %>
              <p><%= t(".subheading", name: current_organization.name) %></p>
            <% else %>
              <%== content %>
            <% end %>
          </div>
        </div>
      </div>

      <%= cell "decidim/tos_page", :form %>
    </div>
  </div>
</div>
