<% add_decidim_page_title(t("decidim.pages.index.title")) %>
<%
edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
)
%>

<div class="wrapper">
  <div class="row column">
    <div class="main-container tabbed-container">
      <%= cell "decidim/tos_page", :announcement %>

      <div class="row collapse main-container--side-panel">
        <div class="columns medium-12 mediumlarge-4 large-3">
          <%= render "side_panel", current: nil %>
        </div>

        <div class="columns medium-12 mediumlarge-8 large-9">
          <div class="main-container__content">
            <div class="tabs-content vertical">
              <div class="static__content">
                <h1 class="heading1 page-title">
                  <%= t "decidim.pages.index.title" %>
                </h1>
                <% content = translated_attribute(current_organization.description) %>
                <% if content.blank? %>
                  <p><%= t(".subheading", name: current_organization.name) %></p>
                <% else %>
                  <%== content %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= cell "decidim/tos_page", :sticky_form %>
    </div>
  </div>
</div>
