<% add_decidim_meta_tags(title: t("participatory_processes.index.title", scope: "decidim")) %>

<%
edit_link(
  decidim_admin_participatory_processes.participatory_processes_path,
  :read,
  :process_list
)

organization_participatory_processes = Decidim::ParticipatoryProcesses::OrganizationPublishedParticipatoryProcesses.new(
  current_organization,
  current_user
).query

active_processes = organization_participatory_processes.active.or(
  organization_participatory_processes.upcoming
).order(start_date: :desc)

past_processes = organization_participatory_processes.past.order(end_date: :desc)
%>

<%= participatory_space_wrapper do %>
  <% if promoted_collection.any? %>
    <section id="highlighted-processes" class="row section">
      <h1 class="section-heading"><%= t("participatory_processes.index.promoted_processes", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_process", collection: promoted_collection, as: :promoted_process %>
    </section>
  <% end %>

  <% if active_processes.any? %>
    <section id="active-processes" class="row section">
      <h1 class="section-heading"><%= t("participatory_processes.index.active_processes", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_process", collection: active_processes, as: :promoted_process %>
    </section>
  <% end %>

  <% if past_processes.any? %>
    <section id="past-processes" class="row section">
      <h1 class="section-heading"><%= t("participatory_processes.index.past_processes", scope: "layouts.decidim") %></h1>
      <%= render partial: "promoted_process", collection: past_processes, as: :promoted_process %>
    </section>
  <% end %>
<% end %>

<%= javascript_pack_tag "decidim_participatory_processes" %>
