<% add_decidim_meta_tags({
  #image_url: current_participatory_space.attached_uploader(:hero_image).url,
  image_url: image_url(meta_image_default),
  description: translated_attribute(current_participatory_space.short_description),
  url: participatory_process_url(current_participatory_space),
  twitter_handler: current_organization.twitter_handler
}) %>

<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :process,
  process: current_participatory_space
)
%>

<% if current_participatory_space.private_space? %>
  <%= render partial: "decidim/shared/private_participatory_space", locals: { text: t("participatory_processes.show.private_space", scope: "decidim") } %>
<% end %>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= translated_attribute current_participatory_space.title %></h1>

        <% if (image_path = current_participatory_space.attached_uploader(:hero_image).url).present?%>
          <%= image_tag image_path, class:"resource__image", alt: strip_tags(translated_attribute(current_participatory_space.title)) %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render partial: "process_actions" %>
        </div>

        <%= render partial: "process_attributes", locals: { process: current_participatory_space } %>

        <%= render partial: "components_list", locals: { process: current_participatory_space } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <h2><%= t(".subtitle") %></h2>
        <div class="lead">
          <%= decidim_sanitize translated_attribute(current_participatory_space.short_description) %>
        </div>
        <%= decidim_sanitize translated_attribute(current_participatory_space.description) %>

        <% if current_participatory_space.steps.any? %>
          <h2><%= t(".steps") %></h2>
          <% current_participatory_space.steps.each do |step| %>
            <div class="margin-bottom-2">
              <h3><%= translated_attribute(step.title) %></h3>
              <%== translated_attribute(step.description) %>
              <% if step.cta_path.present? %>
                <p>
                  <%= link_to "#{participatory_process_path(current_participatory_space)}/#{step.cta_path}" do %>
                    <span><%= t(".show_step") %></span>
                    <%= icon "arrow-right", role: "img", "aria-hidden": true %>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="resource__details">
        <%# = attachments_for project %>
      </div>
    </div>
  </div>
</div>
