<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :name, autofocus: true %>
    </div>

    <div class="row column">
      <%= form.number_field :weight %>
    </div>

    <div class="row column">
      <%= form.check_box :has_color, checked: @form.color.present? %>
    </div>

    <div class="row column">
      <%= form.color_field :color, value: @form.color, disabled: @form.parent_id.present? %>
    </div>

    <div class="row column">
      <%= form.upload(
        :category_images,
        multiple: true,
        titled: false,
        resource_class: "Decidim::Category",
        show_current: false,
        max_file_size: Decidim::FileValidatorHumanizer.new(form.object, :category_images).max_file_size,
        extension_allowlist: Decidim.organization_settings(form.object).upload_allowed_file_extensions_image,
        help_i18n_scope: "decidim.forms.file_help.image",
        help_text: t(".attachment_legend"),
        label: t(".images"),
        button_label: t(".add_images"),
        button_edit_label: t(".edit_images"),
        button_class: "button button__lg button__transparent-secondary"
      ) %>
    </div>

    <div class="row column">
      <%= form.label :parent_id %>
      <%= select :category, :parent_id, @form.parent_categories.collect { |c| [c.name[current_organization.default_locale], c.id] }, include_blank: true %>
    </div>
  </div>
</div>
