<div class="row">
  <div class="columns small-centered large-8">
    <div class="callout announcement <%= answer_callout_class %> cell-announcement text-center">
      <% if final_answer_available? %>
        <div id="plan-answer-final" data-toggler=".hide">
          <% if final_budget_estimate %>
            <p class="h2"><%= t(".answer.final_estimate", amount: final_budget_estimate) %></p>
          <% else %>
            <p class="h2"><%= t(".answer.generic_title") %></p>
          <% end %>

          <% if plan.answered? && translated_attribute(plan.answer).present? %>
            <% if final_budget_estimate %>
              <div><strong><%= t(".answer.reasoning") %>:</strong></div>
            <% end %>
            <% if plan.accepted? %>
              <%= decidim_sanitize translated_attribute plan.answer %>
            <% elsif plan.rejected? %>
              <%= decidim_sanitize translated_attribute plan.answer %>
            <% else %>
              <%= decidim_sanitize translated_attribute plan.answer %>
            <% end %>
          <% end %>

          <% if budget_estimate %>
            <p><a href="#plan-answer" data-toggle="plan-answer-initial plan-answer-final"><%= t(".answer.show_initial_estimate") %></a></p>
          <% end %>
        </div>
      <% end %>

      <% if budget_estimate %>
        <%= content_tag :div, id: "plan-answer-initial", class: final_answer_available? ? "hide" : nil, data: { toggler: ".hide" } do %>
          <p class="h2"><%= t(".answer.initial_estimate") %></p>
          <p><%== budget_estimate %></p>

          <% if final_answer_available? %>
            <p><a href="#plan-answer" data-toggle="plan-answer-final plan-answer-initial"><%= t(".answer.show_final_estimate") %></a></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
