<div class="resource-control-panel text-center">
  <div class="title h3"><%= t ".collaborator_requests" %></div>

  <% plan.requesters.each do |requester| %>
    <div class="collaborator-request" id="request_<%= requester.id %>">
      <%= cell "decidim/author", present(requester), options: { extra_classes: ["author-data--small"] }, has_actions: false %>

      <div>
        <%= render partial: "helsinki/plans/omastadi_view/request_access_accept_form", locals: { requester: requester } %>

        <%= render partial: "helsinki/plans/omastadi_view/request_access_reject_form", locals: { requester: requester } %>
      </div>
    </div>
  <% end %>
</div>
