<div class="resource-control-panel text-center">
  <div class="title h3"><%= t ".manage_plan" %></div>

  <div class="resource-controls">
    <% if allowed_to?(:edit, :plan, plan: plan) %>
      <div class="resource-control">
        <%= link_to t(".controls.edit_plan"), edit_plan_path(plan), class: "button primary large hollow" %>
      </div>
    <% end %>
    <% if allowed_to?(:close, :plan, plan: plan) && !plan.closed? %>
      <div class="resource-control">
        <%= link_to t(".controls.close_plan"), close_plan_path(plan), method: :post, class: "button primary large hollow", data: { confirm: t(".controls.close_plan_confirm_html") } %>
      </div>
    <% end %>
    <% if withdrawable? && allowed_to?(:withdraw, :plan, plan: plan) %>
      <div class="resource-control">
        <%= link_to withdraw_plan_path(plan), method: :put, class: "button primary large hollow", data: { confirm: t(".controls.withdraw_confirmation_html") } do %>
          <%= t(".controls.withdraw_plan") %>
        <% end %>
      </div>
    <% end %>
    <% if allowed_to?(:edit, :plan, plan: plan) %>
      <div class="resource-control">
        <button class="button primary large hollow" data-open="plan-author-add-modal-for-<%= plan.id %>">
          <%= t(".controls.add_author") %>
        </button>
      </div>
    <% end %>
  </div>
</div>

<% if allowed_to?(:edit, :plan, plan: plan) %>
  <%= cell("decidim/plans/plan_add_authors", plan) %>
<% end %>
