<%
# This template is also used to display the linked contents within the modals
# that open when the plan is viewed within the budgets component voting.
%>
<%== description %>

<% if audience_content %>
  <h3><%= translated_attribute(audience_section.body) %></h3>
  <p><%= translated_attribute(audience_content.body) %></p>
<% end %>

<% if need_content %>
  <h3><%= translated_attribute(need_section.body) %></h3>
  <p><%= translated_attribute(need_content.body) %></p>
<% end %>

<% if new_or_improvement_scope %>
  <h3><%= translated_attribute(new_or_improvement_section.body) %></h3>
  <p><%= translated_attribute(new_or_improvement_scope.name) %></p>
<% end %>
