<% if trigger_feedback? %>
  <%= trigger_feedback_modal(plan, title: t(".feedback_title"), metadata: { context: "plan", action: "publish" }) %>
<% end %>

<% if access_request_pending? %>
  <div class="row columns">
    <div class="banner bg-secondary">
      <div class="banner__content"><%== t(".pending_access_request_message_html") %></div>
    </div>
  </div>
<% end %>

<% unless preview_mode? %>
  <div class="row column back-link">
    <%= link_to plans_path, class: "action-link" do %>
      <%= icon "arrow-left", role: "img", "aria-hidden": true %>
      <span><%= t(".back_to_list") %></span>
    <% end %>
  </div>
<% end %>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= present(plan).title %></h1>

        <%== plan_notification %>

        <% if plan.tags.any? %>
          <div class="resource__tags">
            <%= cell("decidim/tags/tags", plan) %>
          </div>
        <% end %>

        <%= image_tag main_image_path, class: "resource__image", alt: strip_tags(present(plan).title) %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render :actions %>
        </div>

        <% if show_controls? %>
          <div class="margin-bottom-3">
            <%= render :controls %>
            <%= collaborator_requests %>
          </div>
        <% end %>

        <%= render :details %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <h2><%= t(".subtitle") %></h2>
        <%= contents %>

        <%== linked_ideas %>
        <%== linked_projects %>

        <%= render :map if has_map_position? %>
      </div>

      <div class="resource__details">
        <%= attachments %>
      </div>
    </div>
  </div>
</div>
