<% if trigger_feedback? %>
  <%= trigger_feedback_modal(plan, title: t(".feedback_title"), metadata: { context: "plan", action: "publish" }) %>
<% end %>

<% if access_request_pending? %>
  <div class="row columns">
    <div class="banner bg-secondary">
      <div class="banner__content"><%== t(".pending_access_request_message_html") %></div>
    </div>
  </div>
<% end %>

<% unless preview_mode? %>
  <div class="row column back-link">
    <%= link_to plans_path, class: "action-link" do %>
      <%= icon "arrow-left", role: "img", "aria-hidden": true %>
      <span><%= t(".back_to_list") %></span>
    <% end %>
  </div>
<% end %>

<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content">
        <h1><%= present(plan).title %></h1>

        <div class="resource__info">
          <% if area_scope.present? %>
            <div class="resource__info__item"><%= translated_attribute(area_scope.name) %></div>
          <% end %>
          <div class="resource__info__item">#<%= plan.id %></div>
          <% if plan.published? %>
            <div class="resource__info__item"><%= l(plan.published_at.to_date, format: :decidim_short) %></div>
          <% end %>
          <% if category.present? %>
            <div class="resource__info__item">
              <% if category.parent %>
                <%= translated_attribute(category.parent.name) %> -
              <% end %>
              <%= translated_attribute(category.name) %>
            </div>
          <% end %>
        </div>

        <% if plan.tags.any? %>
          <div class="resource__tags">
            <%= cell("decidim/tags/tags", plan) %>
          </div>
        <% end %>

        <%= image_tag main_image_path, class: "resource-image", alt: strip_tags(present(plan).title) %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside resource__actions">
        <%= render :actions %>

        <% if show_controls? %>
          <div class="row">
            <div class="columns">
              <%= render :controls %>
              <%= collaborator_requests %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <%== description %>
      </div>

      <div class="resource__details">
        <%= linked_ideas %>
        <%= attachments %>
      </div>
    </div>
  </div>
</div>
