<% if current_settings.creation_enabled %>
  <%= action_authorized_link_to :create, new_collaborative_draft_path, class: "title-action__action button large hollow", data: { "redirect_url" => new_collaborative_draft_path } do %>
    <%= icon "plus" %>
    <%= t(".new_collaborative_draft") %>
  <% end %>
<% else %>
  <span class="title-action__action button large hollow disabled">
    <%= icon "plus" %>
    <%= t(".new_collaborative_draft") %>
  </span>
<% end %>
