<div class="margin-top-1">
  <h2 class="h4 margin-bottom-3"><%= t("form.legend", scope: "decidim.pages.terms_and_conditions") %></h2>

  <%= cell "decidim/tos_page", :refuse_btn_modal %>

  <div class="row">
    <div class="columns shrink">
      <%= button_to decidim.accept_tos_path, method: :put, class: "button" do %>
        <%= t("form.agreement", scope: "decidim.pages.terms_and_conditions") %>
      <% end %>
    </div>
    <div class="columns shrink">
      <button class="clear button" type="button" data-open="tos-refuse-modal">
        <%= t("refuse.modal_button", scope: "decidim.pages.terms_and_conditions") %>
      </button>
    </div>
  </div>
</div>
