<% if verifications.any? %>
  <div class="card card--list">
    <div class="row column authorizations-list">
      <div class="card card--nomargin card--list">
        <% verifications.each do |method| %>
          <%= link_to method.root_path do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "lock-unlocked", class: "card--list__icon" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{method.key}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("#{method.key}.explanation", scope: "decidim.authorization_handlers") %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
