<%
# Force the form to be multipart for the file uploads.
# Calling Decidim form builder's own `upload` builder method should already do
# this but it is not working in our case since we have multiple file fields.
form.multipart = true
%>

<% if Decidim::UserGroups::ManageableUserGroups.for(current_user).verified.any? %>
  <div class="field">
    <%= user_group_select_field form, :user_group_id %>
  </div>
<% end %>

<div class="row column">
  <%= attached_proposals_picker_field form, :proposals %>
</div>

<%= javascript_include_tag "decidim/plans/proposal_picker" %>
<%= stylesheet_link_tag "decidim/plans/proposal_picker" %>

<div class="field">
  <%
  opts = {}
  remaining_characters = component_settings.plan_title_length
  if remaining_characters > 0
    remaining_characters_id = "plans_title_remaining_characters"
    opts = {
      maxlength: remaining_characters,
      data: {
        remaining_characters: "##{remaining_characters_id}"
      }
    }
  end
  %>

  <% if component_settings.multilingual_answers? %>
    <%= form.translated :text_field, :title, opts %>
  <% else %>
    <%= form.text_field(
      "title_#{current_locale}".to_sym,
      {
        label: form.label(:title).gsub(/<\/?label[^>]*>/, '')
      }.merge(opts)
    ) %>
  <% end %>

  <% if remaining_characters > 0 %>
    <%= render "decidim/plans/shared/remaining_characters_container", remaining_characters_id: remaining_characters_id %>
  <% end %>
</div>

<% if @form.categories&.any? %>
  <div class="field">
    <%= form.categories_select :category_id, @form.categories, prompt: t(".select_a_category") %>
  </div>
<% end %>

<% if current_participatory_space.has_subscopes? %>
  <div class="field">
    <%= scopes_picker_field form, :scope_id %>
  </div>
<% end %>

<% @form.contents.each_with_index do |content, idx| %>
  <%= fields_for "contents[]", content do |content_form| %>
    <%= render "decidim/plans/shared/section_content_field", form: content_form, id: tabs_id_for_content(idx) %>
  <% end %>
<% end %>

<%= render partial: "decidim/plans/shared/attachments", object: form, locals: { form: form, blank_attachment: blank_attachment, component_settings: component_settings } %>

<%= javascript_include_tag "decidim/plans/plans_form" %>
<%= stylesheet_link_tag "decidim/plans/plans_form" %>
