<div class="reveal" id="loginModal" data-reveal>
  <div class="reveal__header">
    <h3 class="reveal__title"><%= t(".please_sign_in") %></h3>
    <button class="close-button" data-close aria-label="Close modal"
      type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% if Rails.application.config.wrapper_class == "wrapper-ruuti" %>
    <%= render "decidim/devise/shared/omniauth_buttons_mini", hide_form: true %>
    <% if strong_providers_enabled? || weak_providers_enabled? %>
      <div class="row">
        <div class="columns">
          <span class="register__separator">
            <span class="register__separator__text"><%= t('or', scope: "decidim.devise.shared.omniauth_buttons") %></span>
          </span>
        </div>
      </div>
    <% end %>
    <%= render "decidim/devise/shared/login_modal_form" %>
  <% else %>
    <%= render "decidim/devise/shared/omniauth_buttons_mini", hide_form: true %>
    <% if strong_providers_enabled? || weak_providers_enabled? %>
      <div class="row">
        <div class="columns">
          <span class="register__separator">
            <span class="register__separator__text"><%= t('or', scope: "decidim.devise.shared.omniauth_buttons") %></span>
          </span>
        </div>
      </div>
    <% end %>
    <%= render "decidim/devise/shared/login_modal_form" %>
  <% end %>
</div>
