<div class="banner <%= background_class %>">
  <div class="banner__icon">
    <%= icon(icon_type, role: "img", "aria-hidden": true) %>
  </div>
  <div class="banner__content">
    <h2 class="h3"><%= title %></h2>
    <%== description %>
    <%= button %>
  </div>
</div>
