<div class="extended home-section">
  <div class="row columns">
    <h2 id="<%= label_id %>" class="heading2"><%= title %></h2>
    <%== description %>

    <section class="cards-grid row" aria-labelledby="<%= label_id %>" data-slide>
      <% events.each do |event| %>
        <div class="column small-12 medium-6 large-4">
          <%= cell("helsinki/linked_event_card", event) %>
        </div>
      <% end %>
    </section>

    <%= button %>
  </div>
</div>
