<% unless attachment_collection.unused? %>
  <% attachment_collection_documents_count =  attachment_collection.attachments.select(&:document?).count %>
  <div class="attachments-folder">
    <div id="docs-collection-<%= attachment_collection.id %>" class="attachments-folder__content">
      <h3 class="section-heading h6">
        <%= translated_attribute(attachment_collection.name) %>
        <small>(<%= attachment_collection_documents_count %> <%= t("decidim.application.collection.documents", count: attachment_collection_documents_count) %>)</small>
      </h3>
      <p><%= translated_attribute(attachment_collection.description) %></p>

      <div class="card card--list">
        <% documents.each do |document| %>
          <%= render partial: "decidim/application/document", locals: { document: document } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
