<%
feedback_subject = URI.encode("#{current_organization.name} -palaute").gsub(/,/, "%2C")
%>

<div class="footer-wrapper">
  <% if content_for? :footer_koro %>
    <%= yield :footer_koro %>
  <% else %>
    <div class="koro-top"></div>
  <% end %>
  <div class="main-footer">
    <div class="row">
      <div class="medium-4 large-3 column">
        <%= link_to current_organization.official_url, class: "main-footer__badge" do %>
          <%= image_tag "helsinki/helsinki-logo-#{Rails.application.config.color_profile}.svg", alt: "Helsinki" %>
        <% end %>
      </div>
      <div class="medium-8 large-9 column main__footer__nav">
        <% if display_common_elements? %>
          <% if current_organization.static_pages.any? %>
            <h3><%= t("layouts.footer.about").html_safe %></h3>
            <ul class="footer-nav">
              <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
                <% if page_topic.pages.any? %>
                  <li>
                    <%= link_to translated_attribute(page_topic.title), decidim.page_path(page_topic.pages.first) %>

                    <% if page_topic.pages.where(show_in_footer: true).any? %>
                      <ul class="footer-nav">
                        <% page_topic.pages.where(show_in_footer: true).each do |page| %>
                          <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              <% end %>

              <% current_organization.static_pages.where(show_in_footer: true, topic: nil).each do |page| %>
                <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="row">
      <div class="medium-6 column">
        <a rel="license" class="cc-badge"
           href="http://creativecommons.org/licenses/by-sa/4.0/"
           target="_blank">
          <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %></a>
        <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
      </div>
      <div class="medium-6 column mini-footer__copyright">
        <a href="mailto:<%= feedback_email %>?subject=<%= feedback_subject %>"><%= t("layouts.footer.feedback").html_safe %></a> |
        <%= t("helsinki.copyright", year: "2018-#{Time.current.year}").html_safe %>
      </div>
    </div>
  </div>
</div>
