<%
feedback_subject = URI.encode("Yhteydenotto: #{current_organization.name}").gsub(/,/, "%2C")

footer_text_section = Decidim::ContextualHelpSection.find_content(
  current_organization,
  "footer_text"
)
footer_text = translated_attribute(footer_text_section)
%>

<div class="footer-wrapper" role="contentinfo">
  <% if content_for? :footer_koro %>
    <%= yield :footer_koro %>
  <% else %>
    <%= koro("basic") %>
  <% end %>
  <div class="main-footer">
    <div class="row">
      <div class="medium-4 large-2 column">
        <%= link_to current_organization.official_url, class: "main-footer__badge" do %>
          <% if current_locale == "sv" %>
            <%= image_tag "helsinki/helsinki-logo-bus-sv.svg", alt: "Helsingfors", class: "logo-sv" %>
          <% else %>
            <%= image_tag "helsinki/helsinki-logo-bus.svg", alt: "Helsinki", class: "logo-default" %>
          <% end %>
        <% end %>
      </div>

      <% if display_common_elements? %>
        <div class="medium-4 large-3 column">
          <% if current_organization.static_pages.any? %>
            <div class="main__footer__nav">
              <ul class="footer-nav">
                <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
                  <% if page_topic.pages.any? %>
                    <li>
                      <%= link_to decidim.page_path(page_topic.pages.first) do %>
                        <%= translated_attribute(page_topic.title) %>&nbsp;&raquo;
                      <% end %>

                      <% if page_topic.pages.where(show_in_footer: true).any? %>
                        <ul class="footer-nav">
                          <% page_topic.pages.where(show_in_footer: true).each do |page| %>
                            <li>
                              <%= link_to decidim.page_path(page) do %>
                                <%= translated_attribute(page.title) %>&nbsp;&raquo;
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>

                <% current_organization.static_pages.where(show_in_footer: true, topic: nil).each do |page| %>
                  <li>
                    <%= link_to decidim.page_path(page) do %>
                      <%= translated_attribute(page.title) %>&nbsp;&raquo;
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="medium-12 large-4 column">
        <% if display_common_elements? %>
          <div class="main__footer__processes">
            <% if footer_text.present? %>
              <%== footer_text %>
            <% else %>
              <p>
                <%= t("layouts.footer.processes_info") %>
                <br>
                <%= link_to decidim_participatory_processes.participatory_processes_path do %>
                  <%= t("layouts.footer.processes_show") %>&nbsp;&raquo;
                <% end %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="row">
      <div class="medium-6 column">
        <a rel="license" class="cc-badge"
           href="http://creativecommons.org/licenses/by-sa/4.0/"
           target="_blank">
          <%= image_tag("decidim/cc-badge.png", alt: "Creative Commons License" ) %></a>
        <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
      </div>
    </div>
  </div>
</div>
