<%
# There is a special text section available at the admin panel where we can
# provide content for the footer but it hasn't been used for the new layout.
#
# footer_text_section = Decidim::ContextualHelpSection.find_content(
#   current_organization,
#   "footer_text"
# )
# footer_text = translated_attribute(footer_text_section)

previous_processes = Decidim::ParticipatoryProcess.published.where("end_date < ?", Time.zone.now).order(:start_date, :end_date)
%>

<footer class="footer">
  <% if content_for? :footer_koro %>
    <%= yield :footer_koro %>
  <% else %>
    <%= koro("basic") %>
  <% end %>
  <div class="main-footer">
    <div class="row<%= " align-right" unless display_common_elements? %>">
      <% if display_common_elements? %>
        <div class="column small-12 medium-4 large-3 xlarge-2">
          <h2 class="h4"><%= current_organization.name %></h2>
          <% if current_organization.static_pages.any? %>
            <ul class="vertical menu">
              <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
                <% if page_topic.pages.any? %>
                  <li>
                    <%= link_to decidim.page_path(page_topic.pages.first) do %>
                      <%= translated_attribute(page_topic.title) %>
                    <% end %>

                    <% if page_topic.pages.where(show_in_footer: true).any? %>
                      <ul class="nested vertical menu">
                        <% page_topic.pages.where(show_in_footer: true).each do |page| %>
                          <li>
                            <%= link_to decidim.page_path(page) do %>
                              <%= translated_attribute(page.title) %>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              <% end %>

              <% current_organization.static_pages.where(show_in_footer: true, topic: nil).each do |page| %>
                <li>
                  <%= link_to decidim.page_path(page) do %>
                    <%= translated_attribute(page.title) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="column small-12 medium-4 large-3 xlarge-2">
          <% feedback_subject = CGI.escape("Palaute: #{current_organization.name}").gsub(/,/, "%2C") %>
          <h2 class="h4"><%= t("layouts.footer.contact") %></h2>
          <ul class="vertical menu">
            <% if feedback_email %>
              <li><a href="mailto:<%= feedback_email %>"><%= feedback_email %></a></li>
            <% end %>
            <li><a href="https://palautteet.hel.fi/" target="_blank"><%= t("layouts.footer.feedback") %></a></li>
          </ul>
        </div>
        <% if previous_processes.any? %>
          <div class="column small-12 medium-4 large-3 xlarge-2">
            <h2 class="h4"><%= t("layouts.footer.history") %></h2>
            <ul class="vertical menu">
              <% previous_processes.each do |process| %>
                <li><%= link_to translated_attribute(process.title), decidim_participatory_processes.participatory_process_path(process) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="column small-12 medium-12 xlarge-6 align-self-bottom large-text-right">
        <div class="credits">
          <span class="credits-content"><%= t("layouts.decidim.footer.made_with_open_source").html_safe %></span>
          <a rel="license" class="cc-badge" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <%= image_pack_tag("media/images/cc-badge.png", alt: "Creative Commons License" ) %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-footer">
    <div class="row"><div class="column"><hr></div></div>
    <div class="row mini-footer-content">
      <div class="column small-12 medium-6">
        <div class="site-info">
          <div class="site-info-logo">
            <%= link_to decidim.root_path, class: "mini-footer-logo", aria: { label: t("layouts.decidim.header.front_page_link") } do %>
              <% if current_locale == "sv" %>
                <%= image_pack_tag "media/images/helsinki-logo-white-sv.svg", alt: "Helsingfors", class: "logo-sv" %>
              <% else %>
                <%= image_pack_tag "media/images/helsinki-logo-white.svg", alt: "Helsinki", class: "logo-default" %>
              <% end %>
            <% end %>
          </div>
          <div class="site-info-content">
            &copy; <%= t("layouts.footer.city_name") %> <%= Time.zone.now.year %>
          </div>
        </div>
      </div>
      <div class="column small-12 medium-6 text-right">
        <div class="back-to-top">
          <%= link_to "#skip-to-content" do %>
            <%= t("layouts.footer.back_to_top") %>
            <%= icon("arrow-top", role: "img", "aria-hidden": true) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
