<div class="row column">
  <%= form.number_field :budget_amount %>
</div>

<div class="row column">
  <%= form.translated :editor, :budget_breakdown %>
</div>

<div class="row column">
  <%= form.translated :editor, :news_description %>
</div>

<div class="row column">
  <%= form.translated :editor, :plans_description %>
</div>

<div class="row column">
  <%= form.translated :editor, :interaction_description %>
</div>
